<li>
    {{name}}

    <button class="change-devoured" data-id="{{id}}" data-newsleep="{{devoured}}">
        {{#if devoured}}Devour it!!{{else}}EATEN!{{/if}}
    </button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
